.about-us {
  min-height: 576px;
  padding-top: 162px;
  font-family: $gotham;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: $blue;
}

.about-us__wrapper {
  position: relative;

  &::before {
    content: "W";
    position: absolute;
    top: -78px;
    left: 50%;
    display: block;
    width: 218px;
    height: 210px;
    margin-left: -105px;
    font-family: $roboto;
    font-size: 247px;
    line-height: 210px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.18);
  }
}

.about-us__slogan,
.about-us-list {
  position: relative;
  z-index: 9999;
  margin: 0;
}

.about-us__slogan {
  margin-bottom: 136px;
  padding-left: 12px;
  font-size: 37px;
  line-height: 45px;
  font-weight: 400;
  letter-spacing: 0.01em;
}

.about-us-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 16px;
  list-style: none;
}

.about-us-list__item {
  width: calc(100% / 4 - 20px);

  &::before {
    content: "";
    position: relative;
    top: 0;
    left: 50%;
    display: block;
    width: 133px;
    height: 133px;
    margin-left: -4.45em;
    border-radius: 50%;
    background-color: #2e85aa;
  }
}

.about-us-list__title {
  margin-top: 12px;
  margin-bottom: 17px;
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
}

.about-us-list__text {
  margin: 0;
  font-weight: 300;
  text-transform: none;
}
