.about-us {
  min-height: 576px;
  padding-top: 16.5vh;
  padding-bottom: 12.8vh;
  box-sizing: border-box;
  font-family: $gotham;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: $blue;
}

.about-us__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;

  &::before {
    content: "W";
    position: absolute;
    top: -78px;
    left: 50%;
    display: block;
    width: 218px;
    height: 210px;
    margin-left: -105px;
    font-family: $roboto;
    font-size: 247px;
    line-height: 210px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.18);
  }
}

.about-us__slogan {
  position: relative;
  z-index: 9999;
  margin: 0;
}

.about-us__slogan {
  margin-bottom: 136px;
  padding-left: 12px;
  font-size: 37px;
  line-height: 45px;
  font-weight: 400;
  letter-spacing: 0.01em;
}

@media (max-width: 1024px) {
  .about-us {
    padding-top: 22.5vh;
  }
}

@media (max-width: 710px) {
  .about-us__slogan {
    margin-bottom: 100px;
  }
}

@media (max-width: 960px) {
  .about-us {
    min-height: 100vh;
  }

  .about-us__wrapper {
    padding-bottom: 20px;

    &::before {
      margin-left: -110px;
    }
  }
}

@media (max-width: $tablet-width) {
  .about-us {
    padding-top: 20vh;
  }
}

@media (max-width: 430px) {
  .about-us__slogan {
    font-size: 28px;
  }
}