.header {
  overflow: hidden;
}

.header__container {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 50px 215px;
  box-sizing: border-box;
  background-image: url("../../img/bg-top.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
