.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $gotham;
  text-transform: uppercase;
}

.headline__title {
  margin: 0;
  margin-bottom: 10px;
  padding-right: 28px;
  line-height: normal;
  font-size: 7.95vw;
  letter-spacing: -0.05em;
  color: #ffffff;
}

.headline__text {
  margin: 0;
  margin-bottom: 11vh;
  font-size: 1.25vw;
  letter-spacing: 0.78em;
  color: $blue;
}

.headline__button {
  position: relative;
  min-height: 110px;
  margin-right: 17px;
  font-family: $opensans;
  font-size: 13px;
  line-height: 22px;
  text-decoration: none;
  text-transform: none;
  color: #ffffff;
  border: none;
  background: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    top: 60px;
    right: 27px;
    left: 27px;
    display: block;
    width: 9px;
    height: 9px;
    margin: auto;
    border-bottom: 4px solid #ffffff;
    border-left: 4px solid #ffffff;
    transform: rotate(-45deg);
    animation: arrow-jump 0.5s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    transition: border-color 0.2s ease-in-out;
  }

  &::after {
    content: "";
    position: relative;
    top: 18px;
    right: 0;
    left: 0px;
    display: block;
    width: 63px;
    height: 63px;
    margin: auto;
    border: 1px solid #ffffff;
    border-radius: 50%;
    transition: border-color 0.2s ease-in-out;
  }

  &:hover {
    color: $blue;
  }

  &:hover::before,
  &:hover::after {
    border-color: $blue;
  }
}

@media (max-width: 1110px) {
  .headline__title {
    font-size: 8.7vw;
  }

  .headline__text {
    font-size: 1.4vw;
  }
}

@media (max-width: 960px) {
  .headline__title {
    font-size: 10.95vw;
  }

  .headline__text {
    font-size: 1.7vw;
  }
}

@media (max-width: $tablet-width) {
  .headline__title {
    font-size: 15vw;
  }

  .headline__text {
    font-size: 2.4vw;
  }

  .headline__button {
    margin-right: 0;
  }
}

@media (max-width: $mobile-width) {
  .headline__text {
    margin-bottom: 8vh;
  }
}
