.map {
  width: 100vw;
  height: 332px;
  background-image: url("/img/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #282828;
  overflow: hidden;
}

.map__frame {
  width: 100%;
  height: 332px;
}
