.nav-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-family: $myriad;
  font-size: 20px;
  line-height: 26px;
  list-style: none;
}

.nav-list__item {
  display: inline;
  min-height: 64px;
  margin-right: 1.1em;
}

.nav-list__link {
  padding: 0 13px 35px 13px;
  color: #ffffff;
  text-decoration: none;

  &--active {
    border-bottom: 6px solid $blue;
  }

  &:hover {
    color: $blue;
  }
}
