.news-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5vh;
  padding-right: 5vw;
  padding-bottom: 5vh;
  padding-left: 15vw;
  box-sizing: border-box;

  &--left {
    color: #ffffff;
    background-color: $black;
  }

  &--right {
    padding-right: 15vw;
    padding-left: 5vw;
    background-color: #f3f3f3;
  }
}

.news-post__header {
  padding-left: 3px;
}

.news-post__date,
.news-post span,
.news-post__category {
  font-size: 13px;
  font-weight: 300;
}

.news-post span {
  margin: 0 7px;
}

.news-post__title {
  margin-top: 4px;
  margin-bottom: 28px;
  font-size: 25px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
}

.news-post__category {
  text-decoration: none;
  color: #ffffff;

  &--light {
    color: $black;
  }

  &:hover {
    text-decoration: underline;
  }
}

.news-post__text {
  margin: 24px 0;
  font-weight: 300;
}
