.page-header {
  overflow: hidden;
}

.page-header__container {
  min-width: 100vw;
  min-height: 100vh;
  padding-top: 22px;
  background-image: url("/img/bg-top.jpg");
  background-color: #2d2d2d;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
}

.page-header__nav {
  width: 58%;
  margin-right: 40px;
  padding-top: 30px;
}

.page-header__top {
  width: 100%;
  margin-bottom: 239px;
  padding: 0 20px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(234, 234, 234, 0.38);
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 6px;
  padding-right: 15px;
}

.page-header__middle {
  width: 100%;
  text-align: center;
}
