.page-header {
  overflow: hidden;
}

.page-header__container {
  min-width: 100vw;
  min-height: 100vh;
  padding-top: 22px;
  background-image: url("/img/bg-top.jpg");
  background-color: #2d2d2d;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
}

.page-header__button-menu {
  display: none;
}

.page-header__nav {
  position: relative;
  width: 58%;
  margin-right: 40px;
  padding-top: 30px;
}

.page-header__top {
  width: 100%;
  margin-bottom: 24.5vh;
  padding: 0 20px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(234, 234, 234, 0.38);
}

.page-header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 6px;
  padding-right: 15px;
}

.page-header__middle {
  width: 100%;
  padding: 0 20px 30px 20px;
  box-sizing: border-box;
  text-align: center;
}

@media (max-width: $tablet-width) {
  .page-header__wrapper {
    align-items: flex-end;
    padding-bottom: 27px;
  }

  .page-header__button-menu {
    position: relative;
    top: 10px;
    order: 1;
    display: block;
  }
}
