@keyframes arrow-jump {
  0% {
    top: 60px;
  }
  100% {
    top: 65px;
  }
}

@keyframes shake80 {
  100% {
    transform: translateX(80px);
  }
}

@keyframes shake50 {
  100% {
    transform: translateX(50px);
  }
}

@keyframes shake20 {
  100% {
    transform: translateX(20px);
  }
}
