// Colors
$black: #222222;
$blue: #11749e;
$grey-light: #f3f3f3;
$grey-medium: #d7d7d7;

// Devices Width
$mobile-width: 320px;
$tablet-width: 769px;
$desktop-width: 1600px;

// Fonts
$gotham: "Gotham Agency", "sans-serif";
$myriad: "Myriad Pro Regular Agency", "sans-serif";
$opensans: "Open Sans Agency", "sans-serif";
$roboto: "Roboto Agency", "sans-serif";
